.row {
  max-width: $grid-width;
  margin: 0 auto;
  //全部都作用row-vertical效果除了最後一行
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  .col-1-of-2 {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    float: left;
    width: calc((100% -2 - #{$gutter-horizontal}) / 3);
  }
}
