body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.head-primary {
  color: $color-white;
  /*統一大寫*/
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /*header字體動畫*/
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /*header字體動畫*/
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  /*只針對inline字長度作用*/
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  /*把背景顏色clip mask進入text屬性裡面*/
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(0deg), scaleX(15deg);
  }
}
